<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project list</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>

<nav>
    <div class="nav-wrapper #1de9b6 teal  center-align">
        <a href="/" class="brand-logo">Projects</a>
    </div>
</nav>

<div class="container">